# Jane Street Market Prediction - An LSTM Approach
*This notebook is a response to the problem posed by the "Jane Street Market Prediction" Kaggle Competition (Nov 2020 - Feb 2021).*

The applications of Deep Learning in financial markets has always been one of the hot topics of the field. The Jane Street Market Prediction competition challenges us to create a quantitative trading model, one that utilizes real-time market data to help make trading decisions and maximise returns.

### Framing the Problem

The goal of the model is to **predict whether it is better to make a trade or pass on it** at a certain point in time, given an anonymized set of features representing stock market data at that point.

I opted to use a **Long Short-Term Memory (LSTM)** model because market data is a Time Series. Analysing past patterns to predict future performance is already established in Fundamental market analysis, so I decided to have the model take into account past data in addition to current data.

Below, I go through the preparation of data, model creation and finally prediction.

## 1. Cleaning the Dataset

We first have to import the dataset from Kaggle.

In [1]:
import numpy as np
import pandas as pd
import datatable

# datatable reads large csv files faster than pandas
train_df = datatable.fread('Data/train.csv').to_pandas()

Let's inspect the data:

In [2]:
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float64(135), int32(3)
memory usage: 2.4 GB
None

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

The `date` is the day on which the trading opportunity occurs. This goes from Day 0-499.

The `weight` and `resp` together represent the value of each trade. `resp_1` to `resp_4` are 'resp' values over different time horizons. **The five 'resp' values will be the dependent variables, and hence the targets of prediction.**

`feature_0` to `feature_129` represent stock market data.

The `ts_id` is the index of each row. It is the number representing the time of the trading opportunity.

In [3]:
f_mean = train_df.mean().drop(['resp', 'resp_1', 'resp_2', 'resp_3', 'resp_4', 'date', 'ts_id']) # Will be used later

### Dealing with NaN entries

Right away we see that we will have to deal with numerous NaN entries, as seen in feature_121. Let's dig a little deeper:

In [4]:
isna_df = train_df.isnull().sum()
isna_df[isna_df > 0]

feature_3         448
feature_4         448
feature_7      393135
feature_8      393135
feature_9         788
                ...
feature_125     16083
feature_126      8853
feature_127      8853
feature_128      1921
feature_129      1921
Length: 88, dtype: int64

In [5]:
print("Max:", isna_df.max())
print(isna_df[isna_df == isna_df.max()])
isna_df.max()/train_df.size

Max: 395535
feature_17    395535
feature_18    395535
feature_27    395535
feature_28    395535
dtype: int64

0.0011989987212559733

We can see that there are 88 columns with NaN entries, with the a maximum of 395535 NaN entries in a single column. However, this is 0.1% of the whole dataset, so it should be okay to fill in the NaN entries.

An analysis by Tom Warrens strongly suggests that most NaN values occur at the start of the day and during midday, which corresponds to the market opening and lunch breaks. With this information, it makes sense to fill in the NaN values with the last valid observation.

However, this only holds true if data is at least generally continuous. Carl McBride's Day 0 Exploratory Data Analysis workbook shows that this is not always the case. `feature_41` to `feature_45` comprise of discrete value. For these features, it makes more sense to fill in NaN values with the mean.

*Tom Warrens' analysis can be found here: https://www.kaggle.com/tomwarrens/nan-values-depending-on-time-of-day*

*Carl McBride's Day 0 EDA can be found here: https://www.kaggle.com/carlmcbrideellis/jane-street-eda-of-day-0-and-feature-importance*

In [6]:
discrete_features = ['feature_41', 'feature_42', 'feature_43', 'feature_44', 'feature_45']

isna_df = train_df[discrete_features].isnull().sum()
isna_df[isna_df > 0]

feature_44    448
feature_45    448
dtype: int64

Since there are discrete features with NaN entries, we need to take two different approaches to filling in the data: forward-filling the continuous data and filling with mean for the discrete data.

We deal with the discrete data first.

*Note: For the sake of simplicity in this notebook, I split the data into training and validation datasets and fill with the mean before concatenating again. This is to prevent **data leakage** that occurs when the mean used to fill in the values is the mean of the whole dataset, rather than just the training set.*

In [7]:
# Filling with mean for discrete data
def fill_na_mean_discrete(df, discrete_features):
    df[discrete_features] = df[discrete_features].fillna(value=df[discrete_features].mean())
    return df

# Splitting into validation and training datasets to prevent data leakage
valid_ratio = 0.1 # 90% training data, 10% validation data
valid_index = int(len(train_df.index) * (1 - valid_ratio))

valid_df = fill_na_mean_discrete(train_df[valid_index:], discrete_features)
train_df = fill_na_mean_discrete(train_df[0:valid_index], discrete_features)

# Re-concatenating both datasets
train_df = pd.concat([train_df, valid_df], axis=0)
train_df.head()

C:\Users\jxion\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

In [8]:
isna_df = train_df[discrete_features].isnull().sum()
isna_df[isna_df > 0]

Series([], dtype: int64)

Next, we can use forward-filling to fill the rest of the data.

In [9]:
# Forward-filling
train_df.fillna(method="ffill", inplace=True)
train_df.head()

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

In [10]:
isna_df = train_df.isnull().sum()
isna_df[isna_df > 0]

feature_7      476
feature_8      476
feature_11      72
feature_12      72
feature_17     479
feature_18     479
feature_21      74
feature_22      74
feature_27     479
feature_28     479
feature_31      74
feature_32      74
feature_55      99
feature_72     476
feature_74      72
feature_78     476
feature_80      72
feature_84     476
feature_86      72
feature_90     476
feature_92      72
feature_96     476
feature_98      72
feature_102    476
feature_104     72
feature_108    476
feature_110     72
feature_114    476
feature_116     72
feature_120     99
feature_121     99
dtype: int64

We can see that the number of NaN entries has been drastically reduced, but there are still many entries with NaN values. This is likely because many NaN values start at index 0 (as can be seen from `feature_121` above) and hence do not have a last valid observation to fill from.

Although this is not ideal since in actual use we will not have future data on hand, for training purposes we can fill in the last few NaN entries with the next valid observation instead.

In [11]:
train_df.fillna(method="bfill", inplace=True)
train_df.head()

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,2.095326,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,2.095326,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,2.095326,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,2.095326,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,2.095326,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

In [12]:
isna_df = train_df.isnull().sum()
isna_df[isna_df > 0]

Series([], dtype: int64)

### Reducing Memory Usage

Before we continue, we should return to the memory usage of the dataset, as seen above. At 2.4GB, the training dataset takes up quite a lot of memory. Let's try to reduce the memory usage by optimizing the data types.

(Note: if done before we fill the NaN entries, the pandas.fillna method will not work)

In [13]:
def reduce_memory_usage(df):
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != 'object':
            cmin = df[col].min()
            cmax = df[col].max()
            
            if str(col_type)[:3] == 'int':
                if cmin > np.iinfo(np.int8).min and cmax < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif cmin > np.iinfo(np.int16).min and cmax < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif cmin > np.iinfo(np.int32).min and cmax < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif cmin > np.iinfo(np.int64).min and cmax < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if cmin > np.finfo(np.float16).min and cmax < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif cmin > np.finfo(np.float32).min and cmax < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                    
        else:
            df[col] = df[col].astype('category')
            
    return df

train_df = reduce_memory_usage(train_df)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float16(135), int16(1), int32(1), int8(1)
memory usage: 631.5 MB

### Re-indexing the Data

Lastly, we should set the index of train_df to "ts_id".

In [14]:
train_df.set_index("ts_id", drop=True)

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_120,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129
ts_id,,,,,,,,,,,,,,,,,,,,,
0,0,0.000000,0.009918,0.014076,0.008774,0.001390,0.006271,1,-1.873047,-2.191406,...,5.542969,2.095703,1.167969,8.312500,1.782227,14.015625,2.652344,12.601562,2.300781,11.445312
1,0,16.671875,-0.002829,-0.003227,-0.007320,-0.011116,-0.009789,-1,-1.349609,-1.705078,...,5.542969,2.095703,-1.178711,1.777344,-0.915527,2.832031,-1.416992,2.296875,-1.304688,1.898438
2,0,0.000000,0.025131,0.027603,0.033417,0.034393,0.023972,-1,0.812988,-0.256104,...,5.542969,2.095703,6.117188,9.664062,5.542969,11.671875,7.281250,10.062500,6.636719,9.429688
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003201,-1,1.174805,0.344727,...,5.542969,2.095703,2.837891,0.499268,3.033203,1.513672,4.398438,1.265625,3.855469,1.013672
4,0,0.138550,0.001252,0.002165,-0.001216,-0.006218,-0.002604,1,-3.171875,-3.093750,...,5.542969,2.095703,0.344971,4.101562,0.614258,6.625000,0.800293,5.234375,0.362549,3.925781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390486,499,0.000000,0.000142,0.000142,0.005829,0.020340,0.015396,1,-1.649414,-1.169922,...,-2.421875,-1.896484,-1.259766,1.947266,-1.994141,-1.685547,-2.865234,-0.216187,-1.891602,0.901367
2390487,499,0.000000,0.000012,0.000012,-0.000935,-0.006325,-0.004719,1,2.433594,5.285156,...,-0.677734,-0.936523,1.064453,3.119141,-0.419678,-0.208984,-0.146729,0.729980,0.648438,2.068359
2390488,499,0.000000,0.000499,0.000499,0.007607,0.024902,0.016586,1,-0.622559,-0.963867,...,-0.459229,-2.957031,-0.640137,-2.279297,-0.950195,-4.386719,-1.669922,-3.289062,-1.335938,-2.814453
2390489,499,0.283447,-0.000156,-0.000156,-0.001375,-0.003702,-0.002005,-1,-1.463867,-1.107422,...,-2.650391,-2.035156,-1.781250,0.881348,-2.201172,-1.913086,-3.341797,-0.571289,-2.185547,0.627441
2390490,499,0.000000,-0.001855,-0.001855,-0.001194,-0.000864,-0.001904,-1,-1.817383,-1.131836,...,-0.983887,-0.570801,2.484375,8.281250,-0.698730,0.199951,-0.168335,2.050781,1.725586,5.824219

## 2. Transforming the Dataset

Now that the data is clean, we can start to prepare the data for the model. We first split the data into training and validation data (because this is Time Series, the last 10% of data will be taken as validation).

In [15]:
# valid_index established above
valid_df = train_df[valid_index:]
train_df = train_df[0:valid_index]

print(len(train_df.index))
print(len(valid_df.index))

2151441
239050

We separate the features and our dependent variables, which are "resp" and the other "resp" over the various time frames.

In [16]:
train_Y = (train_df[["resp", "resp_1", "resp_2", "resp_3", "resp_4"]] > 0).astype(int) # The model just has to predict whether the 'resp' value is positive or negative
train_X = train_df.drop(["resp", "resp_1", "resp_2", "resp_3", "resp_4", "date", "ts_id"], axis=1)

valid_Y = (valid_df[["resp", "resp_1", "resp_2", "resp_3", "resp_4"]] > 0).astype(int)
valid_X = valid_df.drop(["resp", "resp_1", "resp_2", "resp_3", "resp_4", "date", "ts_id"], axis=1)

print(train_X.head())
print(train_Y.head())

      weight  feature_0  feature_1  feature_2  feature_3  feature_4  \
0   0.000000          1  -1.873047  -2.191406  -0.474121  -0.322998
1  16.671875         -1  -1.349609  -1.705078   0.068054   0.028427
2   0.000000         -1   0.812988  -0.256104   0.806641   0.400146
3   0.000000         -1   1.174805   0.344727   0.066895   0.009354
4   0.138550          1  -3.171875  -3.093750  -0.161499  -0.128174

   feature_5  feature_6  feature_7  feature_8  ...  feature_120  feature_121  \
0   0.014687  -0.002483   0.576172   0.303711  ...     5.542969     2.095703
1   0.193848   0.138184   0.576172   0.303711  ...     5.542969     2.095703
2  -0.614258  -0.354736   0.576172   0.303711  ...     5.542969     2.095703
3  -1.006836  -0.676270   0.576172   0.303711  ...     5.542969     2.095703
4  -0.194946  -0.143799   0.576172   0.303711  ...     5.542969     2.095703

   feature_122  feature_123  feature_124  feature_125  feature_126  \
0     1.167969     8.312500     1.782227    14.015625     2.652344
1    -1.178711     1.777344    -0.915527     2.832031    -1.416992
2     6.117188     9.664062     5.542969    11.671875     7.281250
3     2.837891     0.499268     3.033203     1.513672     4.398438
4     0.344971     4.101562     0.614258     6.625000     0.800293

   feature_127  feature_128  feature_129
0    12.601562     2.300781    11.445312
1     2.296875    -1.304688     1.898438
2    10.062500     6.636719     9.429688
3     1.265625     3.855469     1.013672
4     5.234375     0.362549     3.925781

[5 rows x 131 columns]
   resp  resp_1  resp_2  resp_3  resp_4
0     1       1       1       1       1
1     0       0       0       0       0
2     1       1       1       1       1
3     0       0       0       0       0
4     0       1       1       0       0

### Data Windowing

Next, we have to reshape our data for our model. Our model expects us to **window** our data for Time Series analysis. The final shape should be 3D, of the format **(batch_size, time_steps, feature_count)**.

In [17]:
import tensorflow as tf

# returns a tf.data.Dataset object
def get_windowed_dataset(x_data, y_data, window_size, batch_size=4096, mode='train'):
    x_ds = tf.data.Dataset.from_tensor_slices(x_data) # converting pandas Dataframe into tf.data.Dataset object
    
    x_ds = x_ds.window(window_size, shift=1)
    x_ds = x_ds.flat_map(lambda window : window.batch(window_size, drop_remainder=True))
    
    if mode == 'train':
        y_ds = tf.data.Dataset.from_tensor_slices(y_data[window_size:])
        ds = tf.data.Dataset.zip((x_ds, y_ds))
        ds = ds.shuffle(10000).batch(batch_size)
    elif mode == 'predict':
        ds = x_ds
        ds = ds.batch(batch_size)
        
    ds = ds.prefetch(tf.data.AUTOTUNE)    
    return ds

In [18]:
lookback = 10 # The window_size is the lookback of the model

train_ds = get_windowed_dataset(train_X, train_Y, lookback)
valid_ds = get_windowed_dataset(valid_X, valid_Y, lookback)

In [19]:
for line in train_ds.take(5):
    print(line)

(<tf.Tensor: shape=(4096, 10, 131), dtype=float16, numpy=
array([[[ 4.3125e+00, -1.0000e+00, -2.4922e+00, ..., -2.6836e+00,
         -3.3828e+00, -2.2207e+00],
        [ 3.9141e+00, -1.0000e+00,  7.9727e+00, ..., -2.6196e-01,
          3.8613e+00,  2.2803e-01],
        [ 6.3721e-02,  1.0000e+00,  5.5000e+00, ..., -8.6035e-01,
          1.7168e+00, -5.3125e-01],
        ...,
        [ 0.0000e+00,  1.0000e+00, -1.7383e+00, ..., -1.5566e+00,
         -1.8359e+00, -1.1484e+00],
        [ 6.1182e-01,  1.0000e+00,  1.6650e+00, ..., -1.6426e+00,
          7.3926e-01, -2.3223e+00],
        [ 0.0000e+00,  1.0000e+00, -5.8887e-01, ..., -1.9775e+00,
         -7.6562e-01, -1.2666e+00]],

       [[ 2.9570e+00, -1.0000e+00, -4.9976e-01, ...,  7.3145e-01,
         -7.2559e-01,  5.4004e-01],
        [ 0.0000e+00,  1.0000e+00, -1.8076e+00, ...,  5.6641e-01,
         -8.4717e-01,  2.5732e-01],
        [ 3.0640e-01, -1.0000e+00, -3.1719e+00, ..., -3.0518e-01,
         -3.3997e-02, -5.4736e-01],
        ...,
        [ 4.0698e-01, -1.0000e+00,  2.8320e+00, ...,  1.5405e-01,
          9.4043e-01, -1.9495e-01],
        [ 2.2500e+00,  1.0000e+00,  4.9102e+00, ..., -1.3906e+00,
         -1.2148e+00, -1.8926e+00],
        [ 2.9570e+00,  1.0000e+00,  4.4609e+00, ...,  5.0244e-01,
          6.5381e-01,  3.7061e-01]],

       [[ 3.7070e+00,  1.0000e+00, -2.1252e-01, ..., -1.2314e+00,
         -1.0176e+00, -1.1396e+00],
        [ 2.9004e-01,  1.0000e+00, -3.1128e-01, ..., -1.4297e+00,
         -1.0479e+00, -1.7637e+00],
        [ 7.5439e-01, -1.0000e+00,  2.6777e+00, ..., -2.4043e+00,
          1.0605e+00, -2.2109e+00],
        ...,
        [ 2.8955e-01, -1.0000e+00, -4.1479e-01, ..., -3.1055e+00,
         -1.6387e+00, -2.7246e+00],
        [ 1.1219e+01,  1.0000e+00,  6.2734e+00, ..., -8.4814e-01,
          2.3914e-01, -6.7236e-01],
        [ 0.0000e+00, -1.0000e+00,  7.7832e-01, ..., -2.0469e+00,
         -1.5625e+00, -2.1211e+00]],

       ...,

       [[ 9.2920e-01, -1.0000e+00, -3.1719e+00, ..., -2.3633e+00,
          6.5479e-01, -2.2949e+00],
        [ 0.0000e+00,  1.0000e+00, -4.7412e-01, ..., -1.4590e+00,
         -1.8613e+00, -9.4727e-01],
        [ 6.0254e-01, -1.0000e+00,  1.7979e+00, ..., -9.8682e-01,
          7.7490e-01, -1.5771e+00],
        ...,
        [ 9.2871e-01,  1.0000e+00,  8.9307e-01, ..., -7.5098e-01,
          3.3105e+00, -8.0139e-02],
        [ 2.5146e-01,  1.0000e+00, -8.9697e-01, ..., -1.8291e+00,
          1.5928e+00, -2.9355e+00],
        [ 1.3447e+00, -1.0000e+00,  4.1875e+00, ...,  2.1484e+00,
          3.1582e+00,  3.9023e+00]],

       [[ 3.5181e-01,  1.0000e+00,  1.7656e+00, ...,  7.9883e-01,
          2.3340e+00, -4.2603e-01],
        [ 0.0000e+00, -1.0000e+00,  2.3105e+00, ..., -1.2441e+00,
          1.3203e+00, -9.5264e-01],
        [ 0.0000e+00, -1.0000e+00, -2.2676e+00, ..., -1.0225e+00,
         -1.6797e+00, -7.7490e-01],
        ...,
        [ 0.0000e+00, -1.0000e+00,  2.3926e+00, ..., -1.5176e+00,
          1.6443e-01, -9.8047e-01],
        [ 1.0117e+01, -1.0000e+00, -5.1221e-01, ..., -1.7568e+00,
         -2.2012e+00, -1.7617e+00],
        [ 0.0000e+00,  1.0000e+00,  7.4219e+00, ..., -1.0029e+00,
          6.3672e+00, -8.0322e-01]],

       [[ 1.7539e+00, -1.0000e+00, -1.3516e+00, ...,  2.0020e+00,
         -1.0840e-01,  2.4180e+00],
        [ 1.4312e+01,  1.0000e+00,  7.2656e-01, ...,  1.5928e+00,
         -3.7524e-01,  9.5117e-01],
        [ 7.7812e+00, -1.0000e+00, -6.8408e-01, ...,  1.4294e-01,
         -1.3242e+00, -1.7090e-01],
        ...,
        [ 1.4258e-01,  1.0000e+00,  3.8359e+00, ...,  1.2451e+00,
          5.6523e+00,  1.1016e+00],
        [ 4.7094e+01,  1.0000e+00,  2.6367e-01, ...,  3.9570e+00,
          3.1104e-01,  2.4199e+00],
        [ 7.2656e-01, -1.0000e+00,  9.7656e-02, ...,  1.7148e+00,
          3.9531e+00,  1.5410e+00]]], dtype=float16)>, <tf.Tensor: shape=(4096, 5), dtype=int32, numpy=
array([[0, 1, 1, 1, 0],
       [1, 1, 1, 1, 1],
       [1, 0, 0, 1, 1],
       ...,
       [1, 1, 1, 1, 1],
       [0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1]])>)
(<tf.Tensor: shape=(4096, 10, 131), dtype=float16, numpy=
array([[[ 0.     , -1.     , -2.193  , ..., -1.057  , -1.501  ,
         -0.516  ],
        [ 0.     ,  1.     ,  0.4858 , ..., -1.343  , -1.337  ,
         -1.677  ],
        [10.24   , -1.     , -2.016  , ..., -0.993  , -2.291  ,
         -0.8096 ],
        ...,
        [ 2.518  ,  1.     ,  3.064  , ..., -1.006  ,  1.539  ,
         -0.07526],
        [ 7.09   , -1.     ,  2.33   , ..., -1.291  ,  1.412  ,
         -1.749  ],
        [ 0.     ,  1.     , -1.566  , ..., -1.358  ,  1.775  ,
         -1.377  ]],

       [[ 1.513  ,  1.     , -0.1626 , ..., -2.125  , -0.5986 ,
         -2.33   ],
        [ 2.158  , -1.     ,  2.346  , ..., -0.784  ,  2.16   ,
         -0.842  ],
        [ 1.973  ,  1.     ,  1.338  , ..., -2.787  , -0.5117 ,
         -2.193  ],
        ...,
        [ 0.2384 , -1.     ,  1.249  , ..., -2.088  ,  0.5938 ,
         -1.73   ],
        [ 1.381  , -1.     , -3.172  , ...,  0.268  ,  8.07   ,
          2.496  ],
        [ 3.533  ,  1.     , -1.128  , ..., -2.332  , -2.428  ,
         -1.995  ]],

       [[ 0.9473 ,  1.     ,  0.3552 , ..., -2.643  , -0.907  ,
         -2.475  ],
        [ 1.597  ,  1.     , -0.08746, ..., -2.418  , -1.01   ,
         -2.225  ],
        [ 1.74   ,  1.     , -1.605  , ..., -1.938  , -1.448  ,
         -1.373  ],
        ...,
        [ 0.2202 , -1.     ,  0.994  , ..., -1.072  ,  3.465  ,
         -0.1727 ],
        [ 0.     ,  1.     ,  0.56   , ..., -2.408  , -0.8564 ,
         -2.268  ],
        [ 4.156  ,  1.     ,  1.2    , ..., -2.182  ,  0.2644 ,
         -1.056  ]],

       ...,

       [[ 6.85   , -1.     ,  0.893  , ..., -0.507  ,  0.2039 ,
         -0.3237 ],
        [ 4.613  , -1.     ,  0.9717 , ...,  1.193  , -1.211  ,
          0.847  ],
        [ 0.7085 ,  1.     , -1.067  , ...,  1.634  ,  0.7773 ,
          1.929  ],
        ...,
        [ 2.55   , -1.     ,  3.008  , ...,  0.6846 , -0.2703 ,
          0.475  ],
        [ 1.355  ,  1.     ,  6.027  , ..., -1.068  ,  3.021  ,
         -1.016  ],
        [ 0.     ,  1.     ,  0.4875 , ...,  3.672  ,  7.492  ,
          3.531  ]],

       [[ 1.265  , -1.     , -0.557  , ..., -0.9907 ,  4.297  ,
         -1.216  ],
        [ 0.0904 ,  1.     , -3.172  , ..., -1.059  ,  1.638  ,
         -0.7656 ],
        [ 0.321  , -1.     , -0.2095 , ...,  1.5205 , -0.087  ,
          1.068  ],
        ...,
        [ 0.628  ,  1.     ,  0.4434 , ..., -0.0945 , -0.1008 ,
         -0.3276 ],
        [ 0.     ,  1.     ,  0.6353 , ...,  0.9614 ,  2.262  ,
          0.1549 ],
        [ 1.049  , -1.     , -0.4106 , ...,  0.7114 , -0.2018 ,
          0.7183 ]],

       [[ 0.4868 ,  1.     , -0.8384 , ...,  5.31   ,  1.25   ,
          4.74   ],
        [ 6.207  ,  1.     ,  2.965  , ...,  2.342  ,  1.05   ,
          2.352  ],
        [ 0.     ,  1.     , -0.3035 , ...,  2.08   , -1.02   ,
          1.889  ],
        ...,
        [ 0.562  , -1.     , -3.172  , ...,  3.186  , -0.714  ,
          3.508  ],
        [ 0.1996 ,  1.     , -3.172  , ...,  6.137  ,  1.376  ,
          6.355  ],
        [ 1.347  , -1.     ,  2.393  , ...,  0.716  ,  1.703  ,
          0.7188 ]]], dtype=float16)>, <tf.Tensor: shape=(4096, 5), dtype=int32, numpy=
array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 1, 1, 0, 0],
       ...,
       [1, 0, 0, 1, 1],
       [1, 1, 1, 1, 1],
       [0, 1, 1, 1, 0]])>)
(<tf.Tensor: shape=(4096, 10, 131), dtype=float16, numpy=
array([[[ 0.     ,  1.     , -0.7783 , ...,  0.01823, -0.1759 ,
         -0.8716 ],
        [ 0.1076 ,  1.     ,  1.236  , ...,  0.01833, -0.1719 ,
         -0.869  ],
        [ 0.4265 , -1.     ,  0.718  , ..., -1.828  ,  2.145  ,
         -0.812  ],
        ...,
        [ 3.297  ,  1.     ,  1.827  , ..., -1.143  ,  0.0379 ,
         -0.947  ],
        [ 3.412  , -1.     , -2.203  , ..., -1.303  , -2.389  ,
         -1.428  ],
        [ 1.565  ,  1.     ,  0.3613 , ..., -0.873  ,  0.7583 ,
         -0.675  ]],

       [[ 0.281  ,  1.     ,  1.588  , ...,  1.987  ,  3.15   ,
          1.623  ],
        [ 0.09674,  1.     ,  1.274  , ...,  1.987  ,  3.158  ,
          1.625  ],
        [ 0.1041 ,  1.     , -1.236  , ...,  0.0909 ,  1.866  ,
          0.2499 ],
        ...,
        [ 1.219  ,  1.     , -1.778  , ...,  0.816  , -0.965  ,
          1.157  ],
        [ 0.     ,  1.     ,  9.07   , ...,  0.1992 ,  3.53   ,
          0.1833 ],
        [ 0.     ,  1.     ,  8.51   , ...,  0.1995 ,  3.549  ,
          0.1887 ]],

       [[ 0.1521 ,  1.     , -3.172  , ...,  1.795  ,  2.932  ,
          2.314  ],
        [ 3.4    , -1.     ,  1.634  , ..., -0.2451 ,  1.64   ,
         -0.2734 ],
        [ 9.445  , -1.     , -0.2095 , ..., -1.695  , -0.4526 ,
         -1.177  ],
        ...,
        [ 0.     , -1.     , -0.3843 , ..., -0.0799 , -0.248  ,
          0.1794 ],
        [ 5.18   , -1.     ,  2.568  , ..., -1.061  , -0.5923 ,
         -1.424  ],
        [ 9.945  ,  1.     ,  5.67   , ..., -0.9307 , -1.401  ,
         -1.001  ]],

       ...,

       [[ 4.95   ,  1.     ,  3.547  , ...,  5.684  ,  3.91   ,
          3.904  ],
        [ 0.     , -1.     , -0.88   , ..., -0.4226 , -0.593  ,
         -0.2201 ],
        [ 4.55   , -1.     ,  0.9214 , ...,  1.025  ,  0.959  ,
          1.472  ],
        ...,
        [ 0.     ,  1.     ,  7.54   , ...,  1.11   ,  4.84   ,
          1.106  ],
        [ 0.3206 ,  1.     ,  6.016  , ...,  5.17   ,  3.31   ,
          3.188  ],
        [ 0.1937 , -1.     , -1.372  , ...,  0.6187 ,  1.371  ,
          0.05624]],

       [[ 0.4033 , -1.     ,  0.3008 , ..., -0.56   ,  2.96   ,
         -0.288  ],
        [ 2.719  ,  1.     , -1.641  , ..., -0.689  , -3.648  ,
         -1.844  ],
        [ 0.     ,  1.     ,  1.141  , ..., -0.928  , -0.722  ,
         -0.7373 ],
        ...,
        [ 0.09326, -1.     ,  5.715  , ...,  0.4658 ,  1.378  ,
          0.6357 ],
        [ 0.     ,  1.     ,  0.4573 , ..., -0.6514 ,  0.833  ,
         -1.164  ],
        [ 0.2703 , -1.     ,  1.314  , ..., -0.9004 ,  0.612  ,
         -1.381  ]],

       [[ 0.3853 , -1.     ,  3.338  , ...,  0.03967,  0.5405 ,
          0.1628 ],
        [ 0.1378 ,  1.     ,  0.4978 , ..., -0.6387 ,  1.001  ,
         -0.3792 ],
        [ 0.     ,  1.     , -0.98   , ..., -0.4104 , -2.457  ,
         -1.071  ],
        ...,
        [ 5.02   ,  1.     ,  3.215  , ..., -0.3022 ,  1.285  ,
         -0.876  ],
        [ 0.4343 , -1.     ,  1.184  , ..., -0.4653 ,  1.167  ,
          0.137  ],
        [ 0.3132 ,  1.     , -0.2145 , ..., -1.385  ,  0.3042 ,
         -0.8564 ]]], dtype=float16)>, <tf.Tensor: shape=(4096, 5), dtype=int32, numpy=
array([[1, 0, 0, 1, 1],
       [0, 0, 0, 0, 0],
       [1, 1, 1, 0, 0],
       ...,
       [1, 0, 1, 1, 1],
       [0, 0, 0, 0, 0],
       [1, 0, 1, 1, 1]])>)

(<tf.Tensor: shape=(4096, 10, 131), dtype=float16, numpy=
array([[[ 3.6152e+00, -1.0000e+00,  1.9414e+00, ...,  1.0170e-02,
          9.3933e-02, -8.9453e-01],
        [ 7.9688e-01,  1.0000e+00, -1.7695e+00, ...,  8.7585e-02,
         -2.2285e+00, -1.1646e-01],
        [ 2.1738e+00, -1.0000e+00,  1.0029e+00, ..., -1.0869e+00,
         -1.0283e+00, -9.2236e-01],
        ...,
        [ 6.6357e-01,  1.0000e+00,  8.1152e-01, ...,  1.0537e+00,
         -2.0374e-01,  3.4033e-01],
        [ 4.4141e+00, -1.0000e+00, -4.0820e-01, ...,  2.1211e+00,
         -3.0737e-01,  4.0649e-01],
        [ 0.0000e+00,  1.0000e+00,  2.7012e+00, ..., -1.3269e-01,
          9.2725e-01, -8.4814e-01]],

       [[ 1.7981e-01, -1.0000e+00,  3.4004e+00, ...,  1.1250e+00,
          1.5645e+00,  7.8906e-01],
        [ 2.2144e-01, -1.0000e+00, -3.1719e+00, ..., -9.7900e-01,
          6.4453e+00, -1.3398e+00],
        [ 3.5234e+00,  1.0000e+00, -2.0471e-01, ..., -3.8135e-01,
         -1.8848e+00, -1.3672e+00],
        ...,
        [ 0.0000e+00,  1.0000e+00, -1.9814e+00, ...,  4.2734e+00,
          1.2832e+00,  3.4492e+00],
        [ 4.3188e-01, -1.0000e+00, -5.5713e-01, ...,  9.6191e-01,
         -1.1416e+00,  1.0098e+00],
        [ 3.5864e-01,  1.0000e+00, -1.9414e+00, ..., -4.7290e-01,
         -1.5537e+00, -4.6265e-01]],

       [[ 1.6348e+00,  1.0000e+00, -1.5947e+00, ...,  9.9854e-01,
         -1.0459e+00,  9.6631e-01],
        [ 0.0000e+00,  1.0000e+00,  1.0352e+00, ..., -1.0020e+00,
          9.1113e-01, -7.7197e-01],
        [ 1.9016e+01,  1.0000e+00, -1.7822e-02, ..., -5.4736e-01,
         -1.9707e+00, -3.8086e-02],
        ...,
        [ 1.8797e+01,  1.0000e+00, -7.4219e-01, ..., -4.0918e-01,
         -1.8105e+00,  2.3853e-01],
        [ 9.8535e-01,  1.0000e+00,  6.0469e+00, ..., -1.4707e+00,
          1.9004e+00, -1.2227e+00],
        [ 6.5625e-01, -1.0000e+00,  2.4648e+00, ..., -9.7217e-01,
          6.9287e-01, -9.3750e-01]],

       ...,

       [[ 2.6191e+00, -1.0000e+00,  1.3799e+00, ...,  8.6243e-02,
         -3.1201e-01,  1.3682e+00],
        [ 1.3145e+00, -1.0000e+00,  4.1445e+00, ..., -5.9814e-01,
          6.3984e+00, -3.6255e-01],
        [ 4.2812e+00, -1.0000e+00,  4.4067e-01, ..., -1.8994e-01,
         -1.9980e+00, -6.2598e-01],
        ...,
        [ 4.8477e+00,  1.0000e+00, -7.1338e-01, ..., -1.1709e+00,
         -3.0371e+00, -1.3838e+00],
        [ 3.1453e+01, -1.0000e+00, -4.2511e-02, ...,  6.1719e+00,
          8.4912e-01,  6.5703e+00],
        [ 0.0000e+00, -1.0000e+00, -7.5537e-01, ...,  6.1680e+00,
          8.4180e-01,  6.5547e+00]],

       [[ 2.1765e-01,  1.0000e+00,  2.6099e-01, ...,  2.3535e+00,
          3.2666e-01,  1.7266e+00],
        [ 1.0615e+00,  1.0000e+00,  9.0186e-01, ...,  4.4800e-01,
          5.2578e+00,  1.1689e+00],
        [ 1.8555e+00, -1.0000e+00,  8.4131e-01, ...,  7.4883e+00,
          3.5898e+00,  4.8359e+00],
        ...,
        [ 0.0000e+00, -1.0000e+00, -1.0068e+00, ...,  3.2891e+00,
         -1.0205e+00,  2.0781e+00],
        [ 7.4951e-01,  1.0000e+00,  1.3350e+00, ...,  6.4297e+00,
          5.4297e+00,  6.0469e+00],
        [ 0.0000e+00, -1.0000e+00, -3.5596e-01, ...,  2.1406e+00,
         -2.8003e-01,  1.6475e+00]],

       [[ 4.4873e-01, -1.0000e+00,  7.4727e+00, ..., -8.5205e-01,
          1.6211e+00, -2.2363e-01],
        [ 3.0469e-01,  1.0000e+00, -1.6174e-01, ..., -1.5205e+00,
         -1.3359e+00, -2.1289e+00],
        [ 2.8340e+00, -1.0000e+00,  2.2969e+00, ..., -2.3496e+00,
          1.8689e-01, -2.0781e+00],
        ...,
        [ 1.9019e-01,  1.0000e+00, -3.1719e+00, ...,  4.6094e-01,
         -1.7920e+00,  1.4148e-01],
        [ 0.0000e+00,  1.0000e+00, -6.5088e-01, ..., -1.1006e+00,
         -1.9883e+00, -8.6426e-01],
        [ 5.9375e-01,  1.0000e+00, -1.2471e+00, ...,  1.3062e-01,
          2.5645e+00,  6.9287e-01]]], dtype=float16)>, <tf.Tensor: shape=(4096, 5), dtype=int32, numpy=
array([[1, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       ...,
       [0, 1, 1, 1, 0],
       [1, 0, 0, 0, 1],
       [0, 1, 1, 1, 0]])>)
(<tf.Tensor: shape=(4096, 10, 131), dtype=float16, numpy=
array([[[ 2.9980e+00, -1.0000e+00, -1.6318e+00, ...,  2.8760e-01,
         -2.1436e-01,  5.5713e-01],
        [ 8.3301e-01, -1.0000e+00, -2.6929e-01, ...,  2.1152e+00,
          3.5566e+00,  2.0254e+00],
        [ 4.8633e+00, -1.0000e+00,  2.9824e+00, ..., -1.5303e+00,
         -3.3325e-01, -2.0918e+00],
        ...,
        [ 3.5840e+00,  1.0000e+00,  4.8906e+00, ...,  9.1406e-01,
          4.7305e+00,  7.3535e-01],
        [ 0.0000e+00, -1.0000e+00, -2.3547e-01, ..., -3.9825e-02,
         -7.4902e-01, -3.5083e-01],
        [ 2.8109e+01,  1.0000e+00,  1.8848e-01, ..., -9.1748e-01,
         -1.0283e+00, -9.1992e-01]],

       [[ 5.3906e-01, -1.0000e+00,  2.2715e+00, ...,  5.7891e+00,
          2.8369e-01,  5.2539e+00],
        [ 1.4648e+00,  1.0000e+00,  1.7998e+00, ...,  2.1914e+00,
          6.5088e-01,  5.6494e-01],
        [ 2.6172e-01, -1.0000e+00,  1.0049e+00, ...,  2.9961e+00,
          1.0039e+00,  2.0918e+00],
        ...,
        [ 6.4258e-01,  1.0000e+00, -4.1162e-01, ...,  2.2988e+00,
          1.9521e+00,  2.1660e+00],
        [ 7.1875e-01, -1.0000e+00, -1.1260e+00, ...,  1.6914e+00,
          3.4434e+00,  1.3105e+00],
        [ 3.0103e-01, -1.0000e+00,  2.3000e+01, ...,  2.9277e+00,
          9.0469e+00,  7.9297e-01]],

       [[ 1.4092e+00, -1.0000e+00, -6.1475e-01, ..., -7.8857e-01,
         -4.8364e-01, -3.0493e-01],
        [ 3.6133e-01, -1.0000e+00,  3.7085e-01, ..., -5.1953e-01,
          6.0273e+00, -8.9050e-02],
        [ 0.0000e+00, -1.0000e+00, -1.4033e+00, ..., -8.9941e-01,
         -2.7402e+00, -1.0078e+00],
        ...,
        [ 9.6484e-01, -1.0000e+00, -2.2192e-01, ..., -1.4326e+00,
          2.6523e+00, -1.2246e+00],
        [ 1.6357e+00, -1.0000e+00, -1.9111e+00, ..., -9.8828e-01,
         -1.9482e+00, -5.1270e-01],
        [ 1.8225e-01, -1.0000e+00, -3.1719e+00, ..., -1.4932e+00,
          2.2285e+00, -1.5137e+00]],

       ...,

       [[ 9.0479e-01,  1.0000e+00,  1.8428e+00, ...,  1.3389e+00,
         -2.8782e-03,  1.1221e+00],
        [ 0.0000e+00,  1.0000e+00,  1.2344e+01, ..., -1.8372e-01,
          3.4512e+00, -7.8174e-01],
        [ 1.4082e+00,  1.0000e+00,  5.3418e-01, ..., -3.1934e-01,
          1.7568e+00, -4.0771e-01],
        ...,
        [ 4.8999e-01,  1.0000e+00,  7.5000e+00, ...,  1.7637e+00,
          5.2578e+00,  1.9990e+00],
        [ 2.0645e+00,  1.0000e+00,  1.5266e+01, ...,  1.5820e+00,
          2.7012e+00,  9.4287e-01],
        [ 1.4600e+00, -1.0000e+00,  2.4531e+00, ..., -3.2275e-01,
          3.8125e+00, -9.6619e-02]],

       [[ 9.7119e-01,  1.0000e+00,  1.1719e+00, ...,  1.2285e+00,
         -4.9292e-01,  1.1816e+00],
        [ 1.9250e-01, -1.0000e+00, -3.1719e+00, ...,  1.2285e+00,
         -4.9268e-01,  1.1807e+00],
        [ 1.8250e-01, -1.0000e+00, -3.1719e+00, ..., -1.3379e+00,
         -8.5596e-01, -4.4482e-01],
        ...,
        [ 2.3828e+00, -1.0000e+00,  3.5918e+00, ...,  4.3906e+00,
          7.2461e-01,  3.9473e+00],
        [ 7.4756e-01,  1.0000e+00, -3.1719e+00, ...,  4.3945e+00,
          7.3096e-01,  3.9609e+00],
        [ 2.8101e-01, -1.0000e+00,  2.1074e+00, ...,  4.3984e+00,
          7.3291e-01,  3.9668e+00]],

       [[ 1.2520e+00, -1.0000e+00,  2.0664e+00, ..., -1.1885e+00,
          2.6367e+00, -9.3359e-01],
        [ 1.2256e+00,  1.0000e+00,  5.5273e-01, ...,  2.5659e-01,
          1.9639e+00,  3.0444e-01],
        [ 4.7339e-01,  1.0000e+00,  7.2344e+00, ...,  1.3662e+00,
          7.7031e+00,  1.5498e+00],
        ...,
        [ 2.8262e+00,  1.0000e+00,  3.2471e-01, ..., -1.3096e+00,
          2.0059e+00, -4.3262e-01],
        [ 0.0000e+00,  1.0000e+00, -1.0908e+00, ..., -1.0488e+00,
          4.2383e-01, -5.3223e-01],
        [ 1.4221e-01, -1.0000e+00, -7.2998e-01, ..., -1.2314e+00,
          3.1074e+00, -1.0352e+00]]], dtype=float16)>, <tf.Tensor: shape=(4096, 5), dtype=int32, numpy=
array([[0, 0, 0, 0, 0],
       [0, 1, 0, 1, 1],
       [0, 1, 1, 1, 1],
       ...,
       [1, 0, 1, 1, 1],
       [0, 0, 0, 0, 0],
       [1, 1, 1, 1, 0]])>)

## 3. Building and Training the Model

We will then start building the model. I use Keras to build a LSTM model, using Adam as the optimizer, Binary-Crossentropy as the loss, and AUC-ROC and accuracy as the metrics.

In [20]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

def build_lstm(lookback, num_columns, num_labels, lstm_units, dense_units, dropout_rate, learning_rate, label_smoothing):
    inp = layers.Input(shape=(lookback, num_columns, )) # Timestep=None to ensure that the model works even when data is less than the ideal lookback length
    x = layers.BatchNormalization()(inp)
    x = layers.Dropout(dropout_rate)(x)
    
    for i in range(len(lstm_units)):
        x = layers.LSTM(lstm_units[i], return_state=False, return_sequences=(False if i==len(lstm_units)-1 else True))(x)
        x = layers.Dropout(dropout_rate)(x)
        
    for j in range(len(dense_units)):
        x = layers.Dense(dense_units[j])(x)
        x = layers.BatchNormalization()(x)
        x = layers.Activation(tf.keras.activations.swish)(x)
        x = layers.Dropout(dropout_rate)(x)
        
    x = layers.Dense(num_labels)(x)
    out = layers.Activation("sigmoid")(x)
    
    model = keras.Model(inp, out)
    model.compile(optimizer='adam',
                  loss=keras.losses.BinaryCrossentropy(label_smoothing=label_smoothing),
                  metrics=['AUC', 'accuracy'])
    print(model.summary())
    return model

In [21]:
# This model has been tuned
num_epochs = 20

num_columns = len(train_X.columns)
num_labels = len(train_Y.columns)
lstm_units = [64, 64]
dense_units = [512, 256]
dropout_rate = 0.2
learning_rate = 0.001
label_smoothing = 0.01

# Early stopping
callback = keras.callbacks.EarlyStopping(monitor='val_loss', mode='min', patience=5, verbose=1)

lstm_model = build_lstm(lookback, num_columns, num_labels, lstm_units, dense_units, dropout_rate, learning_rate, label_smoothing)
lstm_model.fit(train_ds, validation_data=(valid_ds), epochs=num_epochs, callbacks=callback)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 10, 131)]         0
_________________________________________________________________
batch_normalization (BatchNo (None, 10, 131)           524
_________________________________________________________________
dropout (Dropout)            (None, 10, 131)           0
_________________________________________________________________
lstm (LSTM)                  (None, 10, 64)            50176
_________________________________________________________________
dropout_1 (Dropout)          (None, 10, 64)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 64)                33024
_________________________________________________________________
dropout_2 (Dropout)          (None, 64)                0
_________________________________________________________________
dense (Dense)                (None, 512)               33280
_________________________________________________________________
batch_normalization_1 (Batch (None, 512)               2048
_________________________________________________________________
activation (Activation)      (None, 512)               0
_________________________________________________________________
dropout_3 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
batch_normalization_2 (Batch (None, 256)               1024
_________________________________________________________________
activation_1 (Activation)    (None, 256)               0
_________________________________________________________________
dropout_4 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 1285
_________________________________________________________________
activation_2 (Activation)    (None, 5)                 0
=================================================================
Total params: 252,689
Trainable params: 250,891
Non-trainable params: 1,798
_________________________________________________________________
None
Epoch 1/20
526/526 [==============================] - 682s 1s/step - loss: 0.7075 - auc: 0.5027 - accuracy: 0.1980 - val_loss: 0.6928 - val_auc: 0.5091 - val_accuracy: 0.0920
Epoch 2/20
526/526 [==============================] - 681s 1s/step - loss: 0.6929 - auc: 0.5070 - accuracy: 0.1597 - val_loss: 0.6927 - val_auc: 0.5107 - val_accuracy: 0.1100
Epoch 3/20
526/526 [==============================] - 680s 1s/step - loss: 0.6928 - auc: 0.5078 - accuracy: 0.1489 - val_loss: 0.6928 - val_auc: 0.5104 - val_accuracy: 0.0921
Epoch 4/20
526/526 [==============================] - 744s 1s/step - loss: 0.6928 - auc: 0.5077 - accuracy: 0.1427 - val_loss: 0.6927 - val_auc: 0.5106 - val_accuracy: 0.1105
Epoch 5/20
526/526 [==============================] - 726s 1s/step - loss: 0.6927 - auc: 0.5088 - accuracy: 0.1465 - val_loss: 0.6926 - val_auc: 0.5112 - val_accuracy: 0.0860
Epoch 6/20
526/526 [==============================] - 682s 1s/step - loss: 0.6927 - auc: 0.5088 - accuracy: 0.1513 - val_loss: 0.6926 - val_auc: 0.5120 - val_accuracy: 0.0507
Epoch 7/20
526/526 [==============================] - 700s 1s/step - loss: 0.6927 - auc: 0.5095 - accuracy: 0.1505 - val_loss: 0.6926 - val_auc: 0.5115 - val_accuracy: 0.0584
Epoch 8/20
526/526 [==============================] - 642s 1s/step - loss: 0.6926 - auc: 0.5102 - accuracy: 0.1539 - val_loss: 0.6927 - val_auc: 0.5114 - val_accuracy: 0.0478
Epoch 9/20
526/526 [==============================] - 635s 1s/step - loss: 0.6927 - auc: 0.5105 - accuracy: 0.1452 - val_loss: 0.6925 - val_auc: 0.5124 - val_accuracy: 0.0361
Epoch 10/20
526/526 [==============================] - 3039s 6s/step - loss: 0.6926 - auc: 0.5113 - accuracy: 0.1445 - val_loss: 0.6926 - val_auc: 0.5123 - val_accuracy: 0.0837
Epoch 11/20
526/526 [==============================] - 681s 1s/step - loss: 0.6925 - auc: 0.5119 - accuracy: 0.1444 - val_loss: 0.6925 - val_auc: 0.5125 - val_accuracy: 0.0509
Epoch 12/20
526/526 [==============================] - 652s 1s/step - loss: 0.6926 - auc: 0.5119 - accuracy: 0.1403 - val_loss: 0.6925 - val_auc: 0.5128 - val_accuracy: 0.0822
Epoch 13/20
526/526 [==============================] - 18988s 36s/step - loss: 0.6925 - auc: 0.5120 - accuracy: 0.1458 - val_loss: 0.6926 - val_auc: 0.5119 - val_accuracy: 0.0482
Epoch 14/20
526/526 [==============================] - 47142s 90s/step - loss: 0.6925 - auc: 0.5121 - accuracy: 0.1447 - val_loss: 0.6925 - val_auc: 0.5131 - val_accuracy: 0.1271
Epoch 15/20
526/526 [==============================] - 557s 1s/step - loss: 0.6925 - auc: 0.5132 - accuracy: 0.1496 - val_loss: 0.6926 - val_auc: 0.5121 - val_accuracy: 0.1228
Epoch 16/20
526/526 [==============================] - 598s 1s/step - loss: 0.6924 - auc: 0.5136 - accuracy: 0.1438 - val_loss: 0.6927 - val_auc: 0.5126 - val_accuracy: 0.0926
Epoch 17/20
526/526 [==============================] - 576s 1s/step - loss: 0.6924 - auc: 0.5136 - accuracy: 0.1338 - val_loss: 0.6926 - val_auc: 0.5130 - val_accuracy: 0.0964
Epoch 00017: early stopping

## 4. Submission

Using the Jane Street Time-series API, we set up our notebook for submission to the competition.

In [ ]:
# Object for keeping track of the windowed data
class DataWindower:
    def __init__(self, lookback, discrete_features):
        self.data = pd.DataFrame()
        self.cols = None
        self.lookback = lookback
        self.discrete_features = discrete_features
        
    def add_data(self, data):
        if self.data.empty:
            data = np.nan_to_num(data) + np.isnan(data) * f_mean # Dealing with NaN entries
            self.data = pd.concat([data for _ in range(self.lookback)], axis=0) # Filling all rows with copies of the first data entry
            self.cols = self.data.columns
            self.data.reset_index(drop=True, inplace=True)
        else:
            data = self.__fill_na_mean_discrete(data) # Dealing with discrete NaN entries
            data = np.nan_to_num(data) + np.isnan(data) * self.data.loc[len(self.data)-1] # Dealing with continuous NaN entries
            self.data = pd.concat([self.data, data], axis=0)
            self.data.drop(0, axis=0, inplace=True) # Ensuring that the data window is always of lookback length
            self.data.reset_index(drop=True, inplace=True)
            
    def __fill_na_mean_discrete(self, data):
        data[self.discrete_features] = data[self.discrete_features].fillna(value=f_mean[self.discrete_features])
        return data
    
    def get_data(self):
        return self.data.values.reshape(1, self.data.shape[0], self.data.shape[1])

In [ ]:
# For Kaggle Kernel only
import janestreet
env = janestreet.make_env() # initialize the environment
iter_test = env.iter_test() # an iterator which loops over the test set

data_w = DataWindower(lookback, discrete_features)
threshold = 0.500

for (test_df, sample_prediction_df) in iter_test:
    data_w.add_data(test_df.drop('date', axis=1))
    
    if test_df['weight'].values > 0:
        prediction = lstm_model.predict(data_w.get_data())
        avg = np.sum(prediction) / prediction.size
        sample_prediction_df.action = 1 if avg > threshold else 0
    else:
        sample_prediction_df.action = 0
    env.predict(sample_prediction_df)

## 5. Notes and Observations

Despite my initial optimism that an LSTM will be an improvement over simply using a standard multi-layer perceptron (MLP), the model did not perform well. The AUC-ROC was very close to 0.5, indicating that the model had little to no distinguishing power, even on the training data. The accuracy was also low, hovering around 15-20%.

The poor performance might be due to the very short time between each data point. A lookback of 10, 50 or even 100 will only retain data from a short period of time into the past. In contrast, Fundamental Analysis tends to look at data going back hours, days or weeks. With such a short lookback, the data is also likely very noisy.

This LSTM approach was also much more resource-intensive than simpler approaches, due to the windowing of the data increasing the size of the data processed by a factor of the lookback value and the complexity of an LSTM model relative to a MLP. This limited the amount of tuning and epochs I could run due to Kaggle Notebooks' computing limitations.
 
Ultimately, I conclude that the model, as it is, is ill-suited for this problem.

### References:

https://www.kaggle.com/carlmcbrideellis/jane-street-eda-of-day-0-and-feature-importance

https://www.kaggle.com/tomwarrens/nan-values-depending-on-time-of-day

https://www.kaggle.com/manavtrivedi/lstm-rnn-classifier

https://www.kaggle.com/rajkumarl/jane-tf-keras-lstm

https://www.kaggle.com/tarlannazarov/own-jane-street-with-keras-nn